# AI Provider API Keys
OPENAI_API_KEY="sk-proj-..."
GEMINI_API_KEY=""
# Get this from your Neon project dashboard -> Connection Details -> Connection string.
# Make sure it includes ?sslmode=require
DATABASE_URL="postgresql://USER:PASSWORD@ep-xxxx-xxxx.REGION.aws.neon.tech/neondb?sslmode=require"

# Clerk Integration Keys
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY="pk_test_..."
CLERK_SECRET_KEY="sk_test_..."
NEXT_PUBLIC_CLERK_SIGN_IN_URL="/sign-in"
NEXT_PUBLIC_CLERK_SIGN_UP_URL="/sign-up"
